// Specific CSS for your home-page
h1 {
  color: white;
  font-family: $body-font;
}

body {
  background: #a9d5a9;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #f8f8f8;
}

header input, header button {
  padding: 10px;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 50px;
  color: white;
  background: url('path_to_your_background_image.jpg') no-repeat center center;
  background-size: cover;
}

.search-filters {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-filters input, .search-filters button {
  padding: 10px;
  margin: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #f8f8f8;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 10px; // Reduced the gap between cards
}

.container-categories {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
