// Grid layout for cards
.court-cards {
  .card-container-index {
    display: flex;
    flex-wrap: wrap ;
    grid-template-columns: auto auto 1fr; // Updated grid template columns
    gap: 30px;
    padding: 15px;
    margin: 0 auto;

    .card {
      max-width: 350px;
      margin: 0 auto;

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;

        h5 {
          font-size: 1.25rem;
          color: #333;
        }

        p {
          font-size: 1rem;
          color: #666;
        }

        .card-footer {
          align-self: end;
          text-align: right;
          padding: 10px 15px;
        }
      }
    }

    // Responsive adjustments
    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
