// Import page-specific CSS files here.
body {
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
}

h1 {
  color: black;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: grid;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
  height: 100%;
  padding: 16px;
  background-color: #FEFFF3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}
