<h1>New Booking</h1>

<p>You are logged in as <%= @user.name %></p>
<p>The court you have chosen is <%= @court.id %></p>

<%= render 'form', booking: @booking %>

<%= link_to 'Back', bookings_path %>
