<div class="container mt-4">

<h1>New Booking</h1>

<p>You are logged in as <%=@current_user.email%></p>
<p>The court you have chosen is <%= @court.name %></p>

<%= render 'form', booking: @booking %>
<div>
