<div class="title-container">
  <h1>Courts</h1>
</div>
<div class="court-cards">
<div class="card-container-index">
  <% @courts.each do |court| %>

    <div class="court-card">
      <%= render partial: 'shared/card', locals: { court: court } %>
    </div>
  <% end %>
      </div>
</div>
