<div class="title-container">
  <h1 class="">Courts</h1>
</div>
<div class="container">
  <div class="row">
  <% @courts.each do |court| %>
    <div class="col-md-4">
      <%= render partial: 'courts/card', locals: { court: court } %>
    </div>
  <% end %>
</div>
</div>
