<div class="title-container">
  <h1>Courts</h1>
</div>
<div class="cards-wrapper">
  <% @courts.each do |court| %>
    <div class="card-container">
      <%= render partial: 'shared/card', locals: { court: court } %>
    </div>
  <% end %>
</div>
