<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ca-times.brightspotcdn.com/dims4/default/82ecd82/2147483647/strip/false/crop/1200x800+0+0/resize/1200x800!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F77%2F53%2F01c3331b45179e421a32bdaefa34%2Flat-tennis-1-thumbnail2.jpg);">
  <div class="container">
    <h1 class="text-center">Find the Tennis Court for you in Buenos Aires!</h1>
        <section class="search-filters">
          <input type="date" id="date_input">
          <%= link_to "Find a Court", courts_path, class:"btn btn-primary" %>
        </section>
  </div>
</div>
<<<<<<< HEAD
=======

<section class="cards">
  <div class="card">
      <h2>Why Choose Us?</h2>
      <p>Discover the best courts with detailed descriptions, high-quality images, and user reviews.</p>
  </div>
  <div class="card">
      <h2>Add Your Court</h2>
      <p>Do you have a tennis court? List it on our platform and increase your visibility.</p>
      <%= link_to "List Your Court", new_court_path, class: "btn btn-secondary" %>
  </div>
>>>>>>> ddb81bc4b3a65d1f06f946b9d31aec8a8393450e
</section>
<div class="card-container">
  <div class="card">
      <h2>Why Choose Us?</h2>
      <p>Discover the best courts with detailed descriptions, high-quality images, and user reviews.</p>
  </div>
  <div class="card">
      <h2>Add Your Court</h2>
      <p>Do you have a tennis court? List it on our platform and increase your visibility.</p>
      <%= link_to "List Your Court", new_court_path, class: "btn btn-secondary" %>
  </div>
</div>
<section class="categories">
  <div class="container-categories">
    <div class="card-category col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://turismo.buenosaires.gob.ar/sites/turismo/files/planetario_agua_1200_2.jpg)">
      Palermo
    </div>
    <div class="card-category col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wander-argentina.com/wp-content/uploads/2012/02/WA-barrios-barrancasdebelgrano.jpg)">
      Belgrano
    <div class="card-category col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.disfrutabuenosaires.com/f/argentina/buenos-aires/guia/recoleta.jpg)">
      Recoleta
    </div>
  </div>
</div>
</section>
