<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ca-times.brightspotcdn.com/dims4/default/82ecd82/2147483647/strip/false/crop/1200x800+0+0/resize/1200x800!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F77%2F53%2F01c3331b45179e421a32bdaefa34%2Flat-tennis-1-thumbnail2.jpg);">
  <div class="container">
    <h1 class="text-center">Find the Tennis Court for you in Buenos Aires!</h1>
        <section class="search-filters">
          <input type="date" id="date_input">
          <%= link_to "Find a Court", courts_path, class:"btn btn-primary" %>
        </section>
  </div>
</div>
<section class="cards">
    <div class="card">
        <h2>Card Title</h2>
        <p>Information about benefits</p>
    </div>
    <div class="card">
        <h2>Submit </h2>
        <p>You can submit your business here.</p>
    </div>
</section>
