.card {
  background-color: #e0f5cd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;

  .card-carrusel{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 16px;
    object-fit: cover;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #FEFFF3;
  }

  .card-text {
    font-size: 14px;
    color: #FEFFF3;
  }

  .btn-primary {
    background-color: #ccff00;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 3px;
  }

  .btn-primary:hover {
    background-color: #8e9a5f;
  }


  h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
  }

  .title-container h1 {
    text-align: center;
    color: #FFFFFF; // Or any color that fits your design
  }

  img {
    width: 100%; // Image width set to 100%
    height: 350px; // Set the desired height for the image
    object-fit: cover; // Maintain aspect ratio and cover container
    border-radius: 8px; // Optional: Add border radius to the image
    margin-bottom: 10px; // Optional: Add margin below the image
  }

}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap; // This allows the cards to wrap onto the next line
  justify-content: center; // This will center the cards in the wrapper
  gap: 24px; // This gives some space between the cards
}

.card-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(254, 255, 243, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px;
  text-align: center;
  max-width: 80%;
}

.button-main {
  background-color: #80AA82; // Normal state background color
  color: #fff; // Text color for the button
  border: none; // No border, or adjust as needed
  border-radius: 20px; // This will give you rounded edges, adjust the px as needed
  padding: 10px 20px; // Adjust padding to your preference for button size
  text-align: center; // Center the text inside the button
  text-decoration: none; // If your button is a link, this removes the underline
  display: inline-block; // Allows the use of margin and padding
  cursor: pointer; // Changes the mouse cursor to signify it's clickable
  transition: background-color 0.3s ease; // Smooth transition for the hover effect
  width: auto; // Adjust as needed or use max-width
    max-width: 200px; // Example width, adjust as needed
    margin: 0 auto; // This will center the button if it's a block-level element
    padding: 10px 20px;

  &:hover {
    background-color: #3b743b;
     // Color change on hover
  }


}
